:root {
    --gaya-font: 'Quicksand', sans-serif;
    --gaya-font2: 'Nunito Sans', sans-serif;
    --gaya-font3: 'Caveat', cursive;
}

body {
    overflow: hidden;
    background: #000;
    font-family: var(--gaya-font);
    margin: 0;
}

body::before {
    content: "\00A9  Zha | ViBi";
    color: white;
    opacity: .5;
    font-size: 10px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 150;
}

@keyframes jj {
    0%  { transform: scale(1.2); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

@keyframes rto {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}

#counter {
    position: fixed;
    color: white;
    font-size: 11px;
    top: 20px;
    left: 20px;
    z-index: 999;
}

section {
    position: relative;
    z-index: 99;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, .8);
    border-top: 1px solid #fff;
}

section {
    background: #000;
    background-image: var(--bg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.first {
    border-top: 0 solid #fff;
}

section.first > img {
    opacity: 0;
}

section:nth-child(even) {
    color: white;
}

section:nth-child(odd) {
    color: white;
}

section > :first-child {
    margin-top: 150px;
}

.stiker {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    z-index: 1;
    border: 3px solid white;
    border-radius: 50%;
    height: 150px;
}

.stiker.fade-in {
    animation: fadeIn 2s ease-in;
}

.wp {
    position: relative;
    margin: 0;
}

.wp img {
    max-width: 100%;
    display: block;
}

.title {
    color: white;
    text-align: center;
    font-size: 26px;
}

h1, h2 {
    font-family: var(--gaya-font3);
}

h2 {
    font-size: 20px;
}

a.tombol {
    display: inline-block;
    padding: 10px;
    color: white;
    background: rgba(0,0,0,.5);
    border: 1px solid white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

#initom {
    position: fixed;
    bottom: 20px;
    left: 20px;
    opacity: 1;
    transition: opacity 1s;
}

#TombolWA {
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

#TombolWA a {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background: rgba(0,0,0,.5);
    color: white;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}

#TombolWA a:hover {
    background: rgba(0,0,0,.7);
}

.menu {
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 1;
    transition: opacity 1s;
}
